{% extends 'base.html.twig' %}

{% block title %}تغير  كلمة السر{% endblock %}

{% block body %}
    <div class="container" dir="rtl">
    <div class=" clearfix" >
        <h1 class="my-5">تغير  كلمة السر </h1>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary float-right">
            
            تغير  كلمة السر
        </button>
        {{ form_end(form) }}
    </div>
    </div>

{% endblock %}