{% extends 'base.html.twig' %}

{% block title %}بلدية نبر{% endblock %}

{% block body %}
    <div class="container" dir="rtl">
        
       <center> <img src="/images/nebeur.png" height="300" width="300"></center>
        <h1> تاريخ المدينة و موقعها الجغرافي </h1>
       
        <p>يحتوي اسم « الدشرة » في حد ذاته معنى المدينة العريقة مثلها مثل دشرة « الاربص » عاصمة الجهة في الفترة الاسلامية القديمة. أما « نبر » فيبدو وأنه يعود الى الجذور الاولى لاسم سكان المنطقة في الفترة النوميدية.

            وجد بصيغة تسمية قبليّة (نابور – Na Bor) وهو اسم يميز المجال التونسي الغربي الذي يمتد حول مدينة عنابة
            
            والاسم الذي عرفت به « نبر » في القديم هو كاستيلوم ويعني في الظاهر القصر والحصن وغالبا ما يكون متبوعا باسم البلدة والقبيلة. وكاستيلوم له معنى مدني وغالبا ما يطلق على المدينة الاصلية الاهلية مثل سيفيتاس (CIVITAS) مقابل باقوس (PAGUS) وهذا الاسم يميز المعمرين الرومان، ويتراس كاستيلوم مجلس شيوخ يكون من الاهالي واسم « كاستيلوم » اطلق على نبر لان هذه الاخيرة تنتمي الى مستعمر سيرتا- سيكا الكاف (Cyrta-Cica) الرومانية. وتمثل حدودها الشمالية على ما يبدو</p>
    
        <h1>موقعها الجغرافي</h1>
        <p>تقع مدينة نبر بالشمال الغربي للجمهورية التونسية تبعد عن العاصمة ب170 كلم يحدها شمالا ولاية سليانة جنوبا ولاية جندوبة شرقا الكلف الشرقية غربا معتمدية ساقية سيدي يوسف</p>
        <div class="col-md-4 ">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12862.03764897669!2d8.772596350262766!3d36.2999518049238!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12fb0a124348c83f%3A0x9bf119c97c8e3085!2sNebeur!5e0!3m2!1sfr!2stn!4v1641586048633!5m2!1sfr!2stn" width="1115" height="350" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </div>
{% endblock %}
