{% extends 'base.html.twig' %}

{% block title %}شركاء المنصة{% endblock %}

{% block body %}
    <div class="container" dir="rtl" >
        <h2> المساهمون في المنصة</h2>
            <div class ="row">
                    <div class="col-md-4">
                        <div class="card bg-light mb-3">
                                <div class="card-header text-center">
                                    <a href="https://www.facebook.com/affaireskef">
                                    مركز أعمال الكاف 
                                </a>
                                </div>
                                    <a href="https://www.facebook.com/affaireskef">
                                <img src="/images/avatar.png" alt="logo centre d'affaire"style="height: 200px; width:100%; display: block"> 
                                     </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card bg-light mb-3">
                                <div class="card-header text-center">
                                    <a href="https://www.facebook.com/isikmicrosoftclub">
                                    
                                    ISIK Microsoft Club
                                    <a>
                                </div>
                                    <center>
                                    <a href="https://www.facebook.com/isikmicrosoftclub">
                                <img src="/images/mic.jpg" alt="logo centre d'affaire"style="height: 200px; width:50%; display: block"> 
                                </a>
                                </center>
                                    
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card bg-light mb-3">
                                <div class="card-header text-center">
                                    <a href="https://www.facebook.com/beti.lekef">
                                    مكتب التشغيل بالكاف
                                     </a>
                                    
                                </div>
                                <center>
                                    <a href="https://www.facebook.com/beti.lekef">
                                <img src="/images/bk.png" alt="logo centre d'affaire"style="height: 200px; width:50%; display: block"> 
                                     </a>
                                </center>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card bg-light mb-3">
                                <div class="card-header text-center">
                                    <a href="https://www.facebook.com/CRT_-Comit%C3%A9-local-Nebeur-100669284658320">
                                    الهلال الأحمر التونسي الهيئة المحلية بنبر 
                                    </a>
                                </div>
                                <center>
                                    <a href="https://www.facebook.com/CRT_-Comit%C3%A9-local-Nebeur-100669284658320">
                                <img src="/images/crt.jpg" alt="logo centre d'affaire"style="height: 200px; width:50%; display: block"> 
                                </a>
                                </center>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card bg-light mb-3">
                                <div class="card-header text-center">
                                    <a href="https://www.facebook.com/groups/435346397117253">
                                    المنظمة الدولية للقيادات الشبابية بنبر 
                                    </a>
                                </div>
                                <center>
                                    <a href="https://www.facebook.com/groups/435346397117253">
                                <img src="/images/gylo.jpg" alt="logo centre d'affaire"style="height: 200px; width:100%; display: block"> 
                            </a>
                                </center>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card bg-light mb-3">
                                <div class="card-header text-center">
                                    <a href="https://www.facebook.com/communebahra">
                                    بلديـــــة بهرة
                                    </a>
                                </div>
                                <center>
                                    <a href="https://www.facebook.com/communebahra">
                                <img src="/images/bahra.jpg" alt="logo centre d'affaire"style="height: 200px; width:100%; display: block"> 
                            </a>
                                </center>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card bg-light mb-3">
                                <div class="card-header text-center">
                                    <a href="https://www.facebook.com/%D8%AC%D9%85%D8%B9%D9%8A%D8%A9-%D8%AA%D8%B1%D8%A7%D8%AB-%D9%88-%D8%AA%D9%86%D9%85%D9%8A%D8%A9-PAD-Kef-105899207687420">
                                    جمعية تراث و تنمية
                                    </a>
                                </div>
                                <center>
                                    <a href="https://www.facebook.com/%D8%AC%D9%85%D8%B9%D9%8A%D8%A9-%D8%AA%D8%B1%D8%A7%D8%AB-%D9%88-%D8%AA%D9%86%D9%85%D9%8A%D8%A9-PAD-Kef-105899207687420">

                                <img src="/images/pad.jpg" alt="logo centre d'affaire"style="height: 200px; width:80%; display: block"> 
                            </a>
                                </center>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card bg-light mb-3">
                                <div class="card-header text-center">
                                    <a href="https://www.facebook.com/%D8%A7%D9%84%D9%85%D9%86%D8%B8%D9%85%D8%A9-%D8%A7%D9%84%D8%AF%D9%88%D9%84%D9%8A%D8%A9-%D9%84%D9%84%D9%82%D9%8A%D8%A7%D8%AF%D8%A7%D8%AA-%D8%A7%D9%84%D8%B4%D8%A8%D8%A7%D8%A8%D9%8A%D8%A9-%D9%81%D8%B1%D8%B9-%D8%A7%D9%84%D9%83%D8%A7%D9%81-313820372486571">
                                    المنظمة الدولية للقيادات الشبابية بالكاف  
                                    </a>
                                </div>
                                <center>
                                    <a href="https://www.facebook.com/%D8%A7%D9%84%D9%85%D9%86%D8%B8%D9%85%D8%A9-%D8%A7%D9%84%D8%AF%D9%88%D9%84%D9%8A%D8%A9-%D9%84%D9%84%D9%82%D9%8A%D8%A7%D8%AF%D8%A7%D8%AA-%D8%A7%D9%84%D8%B4%D8%A8%D8%A7%D8%A8%D9%8A%D8%A9-%D9%81%D8%B1%D8%B9-%D8%A7%D9%84%D9%83%D8%A7%D9%81-313820372486571">
                                <img src="/images/gylo.jpg" alt="logo centre d'affaire"style="height: 200px; width:100%; display: block"> 
                                </a>
                                </center>
                        </div>
                    </div>
                    
                    <div class="col-md-4">
                        <div class="card bg-light mb-3">
                                <div class="card-header text-center">
                                    مندوبية السياحة بالكاف                              
                                      </div>
                                <center>
                                <img src="/images/gylo.jpg" alt="logo centre d'affaire"style="height: 200px; width:100%; display: block"> 
                                </center>
                        </div>
                    </div>


        </div>
    </div>

{% endblock %}
